In [71]:
import numpy as np
import pandas as pd
import datetime

In [31]:
import requests


data = requests.get("https://api.covid19api.com/summary")

In [3]:
# type(data.json())
# data.json()
d=data.json()
# for key in d:
#     print(key,d["Countries"])


# print ()
# d=data.json().Countries
pd.DataFrame(d["Countries"])
# pd.head()

,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date,Premium
0,Afghanistan,AF,afghanistan,133,36675,1,1272,38,25509,2020-08-01T12:29:28Z,{}
1,Albania,AL,albania,79,5276,3,157,69,2952,2020-08-01T12:29:28Z,{}
2,Algeria,DZ,algeria,563,30394,10,1210,455,20537,2020-08-01T12:29:28Z,{}
3,Andorra,AD,andorra,3,925,0,52,1,807,2020-08-01T12:29:28Z,{}
4,Angola,AO,angola,39,1148,1,52,42,437,2020-08-01T12:29:28Z,{}
...,...,...,...,...,...,...,...,...,...,...,...
181,Viet Nam,VN,vietnam,49,558,3,3,0,373,2020-08-01T12:29:28Z,{}
182,Western Sahara,EH,western-sahara,0,10,0,1,0,8,2020-08-01T12:29:28Z,{}
183,Yemen,YE,yemen,2,1728,6,493,6,862,2020-08-01T12:29:28Z,{}
184,Zambia,ZM,zambia,408,5963,2,151,514,3803,2020-08-01T12:29:28Z,{}
185,Zimbabwe,ZW,zimbabwe,77,3169,14,67,80,1004,2020-08-01T12:29:28Z,{}

In [32]:
data = pd.DataFrame(d["Countries"])
# data.to_csv('covid-d.csv')

In [50]:
covidHCWorkerData = pd.read_csv('.\Datasets\Pre_Processed_Data.csv', header = 0)
medicalStaffData = pd.read_csv('.\Datasets\Pre_processed_data_Infra.csv', header = 0)

In [60]:
for ind in data.index: 
    #  print(data['Country'][ind], data['NewConfirmed'][ind]) 
     country = data['Country'][ind]
    # print(ind)
    # Filtering  data on the bases of country. 
     fHCWData = covidHCWorkerData[covidHCWorkerData['Country'] == country]
    #  medStafData = medicalStaffData[medicalStaffData['Country'] == country]

     for i in fHCWData.index:
        #  if(country == "India"):
            #  print(fHCWData['Variable'][i], fHCWData['Value'][i].round())
             _column = fHCWData['Variable'][i]

             if _column in data.columns : 
                #  Inserting value if column exists.
                 data[_column][ind] = fHCWData['Value'][i].round()
             else :
                #  print("Creating column : ",_column)
                 data[_column] = np.nan
                 data[_column][ind] = fHCWData['Value'][i].round()
                #  print("Inserting value : ",fHCWData['Value'][i])

In [67]:
for ind in data.index: 
    #  print(data['Country'][ind], data['NewConfirmed'][ind]) 
     country = data['Country'][ind]
    # print(ind)
    # Filtering  data on the bases of country. 
     fHCWData = medicalStaffData[medicalStaffData['Country'] == country]
    #  medStafData = medicalStaffData[medicalStaffData['Country'] == country]

     for i in fHCWData.index:
        #  if(country == "India"):
            #  print(fHCWData['Variable'][i], fHCWData['Value'][i].round())
             _column = fHCWData['Variable'][i]

             if _column in data.columns : 
                #  Inserting value if column exists.
                 data[_column][ind] = fHCWData['Value'][i].round()
             else :
                #  print("Creating column : ",_column)
                 data[_column] = np.nan
                 data[_column][ind] = fHCWData['Value'][i].round()
                #  print("Inserting value : ",fHCWData['Value'][i])

In [68]:
# a = data.dropna(how='any',axis=0)
data[data['Practising caring personnel'].notnull()]
# Filters required

,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date,...,"Mammographs, in ambulatory sector","Mammographs, in hospitals",Other hospital beds,"Positron Emission Tomography (PET) scanners, in ambulatory sector","Positron Emission Tomography (PET) scanners, in hospitals",Practising caring personnel,"Radiation therapy equipment, in ambulatory sector","Radiation therapy equipment, in hospitals",Rehabilitative care beds,Professionally active caring personnel
9,Austria,AT,austria,175,21130,0,718,130,18758,2020-08-01T12:29:28Z,...,97.0,13.0,0.0,1.0,9.0,4998.0,0.0,23.0,4525.0,NaN
30,Canada,CA,canada,604,118268,6,8979,562,102906,2020-08-01T12:29:28Z,...,151.0,171.0,206.0,3.0,15.0,90993.0,0.0,54.0,1994.0,NaN
44,Czech Republic,CZ,czech-republic,203,16574,3,382,87,11569,2020-08-01T12:29:28Z,...,29.0,41.0,940.0,0.0,6.0,12573.0,5.0,42.0,2026.0,NaN
46,Denmark,DK,denmark,64,14028,0,615,53,12780,2020-08-01T12:29:28Z,...,7.0,43.0,0.0,0.0,19.0,44400.0,0.0,38.0,99.0,47023.0
55,Estonia,EE,estonia,13,2064,0,69,4,1930,2020-08-01T12:29:28Z,...,3.0,10.0,84.0,0.0,2.0,1635.0,0.0,4.0,164.0,NaN
58,Finland,FI,finland,9,7432,0,329,0,6950,2020-08-01T12:29:28Z,...,0.0,102.0,59.0,0.0,6.0,52939.0,0.0,30.0,256.0,66819.0
63,Germany,DE,germany,864,210399,3,9147,441,191992,2020-08-01T12:29:28Z,...,NaN,NaN,0.0,NaN,53.0,152260.0,NaN,204.0,84573.0,NaN
65,Greece,GR,greece,76,4477,3,206,0,1374,2020-08-01T12:29:28Z,...,264.0,81.0,3396.0,1.0,4.0,3831.0,3.0,35.0,174.0,NaN
74,Hungary,HU,hungary,21,4505,0,596,7,3353,2020-08-01T12:29:28Z,...,NaN,NaN,0.0,NaN,NaN,13084.0,NaN,NaN,7460.0,NaN
75,Iceland,IS,iceland,13,1885,0,10,2,1825,2020-08-01T12:29:28Z,...,11.0,0.0,0.0,0.0,0.0,2232.0,0.0,7.0,33.0,NaN
80,Ireland,IE,ireland,38,26065,0,1763,0,23364,2020-08-01T12:29:28Z,...,NaN,NaN,37.0,NaN,NaN,12370.0,NaN,NaN,73.0,NaN
81,Israel,IL,israel,934,70970,12,512,361,43850,2020-08-01T12:29:28Z,...,NaN,NaN,NaN,0.0,4.0,45115.0,0.0,16.0,1040.0,NaN
82,Italy,IT,italy,379,247537,9,35141,178,199974,2020-08-01T12:29:28Z,...,389.0,600.0,0.0,17.0,62.0,274741.0,13.0,181.0,12240.0,300457.0
84,Japan,JP,japan,1090,36234,1,1008,750,24774,2020-08-01T12:29:28Z,...,NaN,NaN,171867.0,NaN,NaN,112792.0,NaN,NaN,NaN,NaN
92,Latvia,LV,latvia,3,1231,1,32,0,1052,2020-08-01T12:29:28Z,...,19.0,13.0,1445.0,0.0,0.0,1032.0,1.0,5.0,381.0,1033.0
98,Lithuania,LT,lithuania,13,2075,0,80,1,1644,2020-08-01T12:29:28Z,...,9.0,14.0,0.0,0.0,1.0,3323.0,0.0,14.0,759.0,3330.0
99,Luxembourg,LU,luxembourg,79,6695,0,114,165,5192,2020-08-01T12:29:28Z,...,0.0,12.0,127.0,0.0,1.0,1564.0,0.0,5.0,158.0,1528.0
119,Netherlands,NL,netherlands,341,54590,0,6166,0,200,2020-08-01T12:29:28Z,...,NaN,33.0,6519.0,0.0,26.0,134008.0,NaN,NaN,971.0,NaN
124,Norway,NO,norway,32,9240,0,255,0,8752,2020-08-01T12:29:28Z,...,NaN,NaN,1136.0,NaN,NaN,37757.0,NaN,NaN,NaN,54506.0
133,Poland,PL,poland,657,45688,7,1716,344,33987,2020-08-01T12:29:28Z,...,94.0,131.0,8541.0,3.0,9.0,3106.0,5.0,73.0,31635.0,NaN
134,Portugal,PT,portugal,204,51072,8,1735,343,36483,2020-08-01T12:29:28Z,...,NaN,64.0,218.0,NaN,4.0,14752.0,NaN,23.0,237.0,NaN
152,Slovenia,SI,slovenia,17,2156,2,119,17,1797,2020-08-01T12:29:28Z,...,13.0,13.0,65.0,0.0,1.0,1533.0,0.0,9.0,100.0,1572.0
156,Spain,ES,spain,3092,288522,2,28445,0,150376,2020-08-01T12:29:28Z,...,61.0,289.0,0.0,5.0,27.0,209638.0,5.0,104.0,875.0,213074.0
162,Switzerland,CH,switzerland,210,35232,1,1981,0,31100,2020-08-01T12:29:28Z,...,NaN,NaN,0.0,0.0,15.0,29826.0,45.0,31.0,3378.0,NaN
176,United Kingdom,GB,united-kingdom,883,304793,120,46204,1,1439,2020-08-01T12:29:28Z,...,NaN,NaN,NaN,NaN,NaN,507628.0,NaN,NaN,NaN,NaN

In [80]:
fileN = "Datasets\ETLCovidData" + str(datetime.datetime.now().strftime('%A'))
data.to_csv(fileN, encoding='utf-8', index=False)